body{
  background-color: #4ABDAC;
  border: 5px;
}
h1{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 75px;
  font-weight: 700px;
  text-shadow: 2px 2px orange;
}
header{
  height:250px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:1200px;
    margin:0px auto;
}

.flexcontainer{
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: center;
}
.flexcontainer2{
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: center;
}

.restaurants1{
  margin: 50px
}


.restaurants2{
  margin: 50px;
}

img{
  border-radius: 25px;
  border-color: white;
  opacity: 5px;
  filter: alpha(opacity=50);
}

img:hover{
  opacity: 0.5;
}

#restaurants1:hover #overlay {
  opacity:1;}
}

/*.blind-burro {
  color: black;
  height: 200px;
  width: 200px;*/

footer {
  /*padding: 1rem;
  color: black;*/
  text-align: center;

}
.footer{
  display: inline;
}

@keyframes something {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#icon:hover{
  animation: spin 1s ease-in;
}

@keyframes icon {
  100% {
    transform: translateY(-8px);
  }
}
